body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
   
}
a {
    color: #11999E;
}



.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}


.bottom-container {
    background-color: #66BFBF;
    padding-top: 100px;
    position: relative;  
    
}


.dev {
    text-decoration: underline;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 250%;
}

.avatar-img {
    margin-top: 50px;
    height: 150px;
    border-radius: 100%;
}
.avatar-img:hover {
    transform: rotate(5deg) scale(1.1);
    transition: 1s ease-in-out;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px; 
    }
.chilli-img {
    width: 25%;
    float: right; 
    margin-left: 30px; 
}

hr {
    border-style: dotted none none;
    border-width: 10px;
    height: 0px;
    width: 100px;
    color: #eaf6f6;
    margin-top: 100px;
    margin-bottom: 100px;
}

.BUTTON_RVM {
    margin-top: 50px;
    border-radius: 50px;
    color: #EAF6F6;
    font-family: Verdana;
    font-size: 22px;
    font-weight: 100;
    padding: 12px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_RVM:hover {
    background-color: #55a1a1;
    border-radius: 100px;
    text-decoration: none;
    color: azure;
 }

 .contact-me {
     margin-top: 10px;
     margin-bottom: 100px;
     line-height: 250%;
 }

 .footer-link {
     margin-left: 50px; 
     position: relative;
     bottom: 70px;
     color: #11999E;     
 }